# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
**/xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods / Carthage (if used later)
Pods/
Carthage/Build/

# Secrets
.env
.env.*
credentials*
*.p12
*.mobileprovision
